<div data-ng-include="activeOption"></div>
<div class="wrapper" style="background-image: url({{settingsObj.backgroundImage ? 'images/' + settingsObj.backgroundImage : 'images/bg-01.jpg'}});">
   <div class="taskbar fixed-bottom">
       <a class="start_btn" id="startBtn">
           <span class="start_btn_icon"></span>
           Menu
       </a>
       <a class="full_btn" id="fullBtn">
           <span class="full_btn_icon"></span>
       </a>
   </div>
   <!-- start popup navigation start -->
   <div id="startMenu">
      <div id="left">
          <div class="b">
              Lucky Draw
              <span class="num95">Options</span>
          </div>
      </div>
      <div class="right">
          <a class="menuItem expander" ng-click="changeTab('newDraw','new_draw');">
              <span class="menu_icon new_icon"></span><span>New Draw (Ctrl-N)</span>
          </a>
          <a class="menuItem expander" ng-click="changeTab('winnerList','winner_list');">
              <span class="menu_icon winner_icon"></span><span>Display Winner List</span>
          </a>
          <a class="menuItem expander" ng-click="changeTab('systemSettings','system_settings');">
              <span class="menu_icon settings_icon"></span><span>System Settings</span>
          </a>
          <!-- <a class="menuItem expander" ng-click="changeTab('addPrize','add_new_prize');">
              <span class="menu_icon database_icon"></span><span>Add New Prize</span>
          </a> -->
          <a class="menuItem expander" ng-click="changeTab('database','database');">
              <span class="menu_icon database_icon"></span><span>Database</span>
          </a>
      </div>
  </div>

  
        <!-- Modal -->
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="password" class="col-form-label">Password:</label>
                          <input type="password" class="form-control" id="password" ng-model="loginCredentials.key">
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="onLogin();">Login</button>
                </div>
            </div>
            </div>
        </div>


</div>