<div ng-controller="newDrawController">
    <div class="modal" tabindex="-1" role="dialog" id="new_draw" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="top: 15%;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Draw</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to Draw?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_winners_list">Reset Winners</button>
            <button type="button" class="btn btn-success" ng-click="onNewDraw();"  data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- process popup one -->
    <div class="modal fade bd-example-modal-lg results-popup" id="main_one" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <img src="images/{{customersObj.product.prizeimage}}" alt="">
                <h4 class="result-product">{{customersObj.product.drawname}}</h4>
              </div>
              <div class="col-md-8">
                <div class="row row-cols-lg-4">
                  <div class="col-{{customersObj.product.noofwinners == '1' ? '12 font-weight-bold' : customersObj.product.noofwinners == '2' ? '6' : '3' }} numbers" ng-repeat="cust in getCustomers(customersObj.list)  | limitTo:customersObj.product.noofwinners">
                    {{cust.candidates}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg results-popup" id="new_winner_list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Display Winner List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body" style="overflow: scroll;">
            <div class="restul-section" ng-repeat="winners in winners.list">
              <h5 class="restul-section-title">{{winners.product.drawname}} {{winners.date}}</h5>
              <div class="row">
                <div class="col-md-12">
                  <div class="row row-cols-lg-{{winners.product.columns}}" ng-repeat="candidates in winners.winnersList track by $index">
                    <div class="col numbers">{{candidates}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="restul-section" ng-show="winners.list.length == 0">
              <h5 class="restul-section-title">There are no winners yet</h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="delete_winners_list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="top: 15%;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Winners List Reset Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to reset winners list?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="onDeleteWinners();">Reset</button>
            <button type="button" class="btn btn-primary" ng-click="onExportWinnersList();">Export List</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>